@use '../../../../../variables.scss' as v;
.content_wrapper{
    text-align:left;
    margin:50px 50px;
    padding:40px;
    background:white;
}
.iframe_style{
    border-radius:20px;
    padding:10px;
    background: rgb(238,107,85);
background: linear-gradient(90deg, rgba(238,107,85,1) 0%, rgba(237,102,85,1) 46%, rgba(251,170,88,1) 100%);
display:block;
margin:50px auto;
box-shadow: 1px 1px 6px #b4b4b4;
}