@use '../../../../../variables.scss' as v;

.header_wrapper{
    background: rgb(238,107,85);
background: linear-gradient(90deg, rgba(238,107,85,1) 0%, rgba(237,102,85,1) 46%, rgba(251,170,88,1) 100%);
    display:block;
    padding:10px 0px;
    position: sticky;
    top: 0;
}
.list_title{
    display:inline-block;
    margin:0px 30px;
    color:white;
    font-weight:500;
}
.header_flex{
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width:1100px;
    margin:0px auto;
}
.header_left{
    text-align:left;
    flex:1 0 500px;

}
.header_left .list_title{
    margin-left:10px;
}
.header_right{
    text-align:right;
    flex:1 1 500px;
    
}