.header_wrapper{
    background:#d0e6ff;
    width:1100px;
    margin-left:250px;
    margin-right:auto;
    display:block;
    padding:10px 0px;
    
}
.list_title{
    display:inline-block;
    margin:0px 30px;
}