.header_wrapper{
    background-color:white;
    height:80px;
    width:100%;
    box-shadow: 0 1px 8px rgba(0,0,0,.05);
    position:relative;
    z-index:10;
}
.menu_button{
    
    font-size:16px;
    color:black;
    display:inline-block;
    float:right;

}
.menu_wrapper{
    width:1400px;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    height:50px;
}
.logo{
    width: 200px;
    display: inline-block;
    float: left;
    padding-top: 5px;
}