@use "../../../../../variables.scss" as v;

.list_wrapper{
text-align:left;
width:200px;
margin-top:25px;
height:auto;
padding:20px;

}
.title2{
    font-size:12px;
    margin-top:15px;
    display:block;
    font-weight:500;
    }

.list{
    margin:10px 0px;
}
.list_number{
    font-size: 14px;
    
    display: inline-block;
    font-weight: 700;
    text-align:center;
    margin-right:20px;
   
}
.list_type{
    font-size:12px;
    font-weight: 300;
}